body {
  background-color: #282c34;

}

.app-main {
  
  height: 100vh;
}

.App {
  align-items: center; 
  display: flex; 
  justify-content: space-between;
  
  
 
}

.list {

  color: aliceblue;
  margin-right: 30px;
 
}

.select-box {

  width: 100px;
  background-color: aliceblue;
}


.App-header {
  /* font-size: calc(10px + 2vmin); */
  padding: 10px 10px;
  font-size: 30px;
  color: aliceblue;
  text-shadow: gray 2px 5px 5px ;
  /* text-decoration: underline rgba(255, 4, 4, 0.911); */
  letter-spacing: 4px;
  border-bottom: solid rgba(255, 4, 4, 0.911);
  

}
.o {
  color: rgba(255, 4, 4, 0.911);

}
.status-h1 {
  text-align: center;
  color: aliceblue;
  letter-spacing: 10px;
  text-shadow: gray 2px 5px 5px;
  width: max-content;
  margin: 100px auto 100px auto;
  /* text-decoration: underline rgba(255, 4, 4, 0.911); */
  border-bottom: solid rgba(255, 4, 4, 0.911);
  
}

.status {

  display: flex;
  justify-content: space-around;
  text-align: justify;
  /* margin-top: 100px; */
 
}

.status1 {
  
  background-color: rgba(92, 88, 88, 0.623) ;
  color: aliceblue;
  padding: 0px 10px 0px 10px;
  width: max-content;
  /* justify-content: space-evenly; */
  border: none ;
  border-radius: 10px;
  box-shadow: gray 0px 0px 10px 5px;
  margin-top: 50px;
}

.chart {

  justify-content: center;
  font-size: 30px;
  background-color: transparent;
  height: 300px;
  width: 90%;
  /* margin: 50px auto; */
  border-radius: 20px;
}


