body {
  background-color: #282c34;

  /* background-color: dimgrey; */
  
  
}

.header-div {
  
  height: 50px;
  border-bottom: solid rgba(255, 4, 4, 0.911);
  max-width: max-content;
  min-width: min-content;
  margin: auto;
}
.header {
  
 
  font-size:35px;
  color: aliceblue;
  text-shadow: black 2px 5px 1px ;
  letter-spacing: 4px;
  /* padding: 0px 20px 0px 20px ; */
}

.select {
  
  text-align: center;
  margin-bottom: 30px;
}
.o {
  color: rgba(255, 4, 4, 0.911);

}
.chart {

  background-color: aliceblue;
  margin-top: 100px;
}



